:plain
  <script id='collectionDetailTemplate' type='text/template'>
    <h3 class='contentTitle'><%= name %></h3>
    <table>
      <tr><td class='detailLabel'>Document Count:</td><td class='detailValue'><%= documentCount %></td></tr>
      <tr><td class='detailLabel'>Size:</td><td class='detailValue'><%= size %></span></td>
      <tr><td class='detailLabel'>Storage Size:</td><td class='detailValue'><%= storageSize %></span></td>
      <tr><td class='detailLabel'>Index Count:</td><td class='detailValue'><%= indexCount %></span></td>
      <tr><td class='detailLabel'>Index Size:</td><td class='detailValue'><%= indexSize %></span></td>
    </table>
  </script>
