<script id='databaseItemTemplate' type='text/template'>
  <li class='databaseItem' data-id='<%= id %>' data-url='<%= url %>'>
    <a class='treeIcon'></a>
    <span><%= name %></span>
    <ul class='childCollection'></ul>
  </li>
</script>
