:plain
  <script id='databaseDetailTemplate' type='text/template'>
    <div class='contentHeader'>
      <h3 class='contentTitle'>Database: <%= name %></h3>
    </div>
    <table>
      <tr><td class='detailLabel'>Collection Count:</td><td class='detailValue'><%= collectionCount %></td></tr>
      <tr><td class='detailLabel'>Document Count:</td><td class='detailValue'><%= documentCount %></span></td>
      <tr><td class='detailLabel'>Data Size:</td><td class='detailValue'><%= dataSize %></span></td>
      <tr><td class='detailLabel'>Storage Size:</td><td class='detailValue'><%= storageSize %></span></td>
      <tr><td class='detailLabel'>File Size:</td><td class='detailValue'><%= fileSize %></span></td>
      <tr><td class='detailLabel'>Extent Count:</td><td class='detailValue'><%= numExtents %></span></td>
      <tr><td class='detailLabel'>Index Count:</td><td class='detailValue'><%= indexCount %></span></td>
      <tr><td class='detailLabel'>Index Size:</td><td class='detailValue'><%= indexSize %></span></td>
    </table>
  </script>
