:plain
  <script id='documentTemplate' type='text/template'>
    <a class='treeIcon dark'></a>
    <span class='documentTitle'><%= title %></span>
    <pre class='documentDetail'><%= model %></pre>
  </script>
