:plain
  <script id='pagingTemplate' type='text/template'>
    <a class='first'></a>
    <a class='previous'></a>
    <span class='count'><%= count %></span>
    <a class='next'></a>
    <a class='last'></a>
  </script>

