!!!
%html
  %head
    %link{ :href => '/css/app.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css' } 
    %script{ :src => '/javascript/jquery.js', :type => 'text/javascript' }
    %script{ :src => '/javascript/underscore.js', :type => 'text/javascript' }
    %script{ :src => '/javascript/backbone.js', :type => 'text/javascript' }
    =haml :_databaseItemTemplate
    %script#collectionItemTemplate{ :type => 'text/template' }
      :plain
        <li class='collectionItem' data-id='<%= id %>' data-url='<%= url %>'><span><%= name %></span></li>
    %script#databaseDetailTemplate{ :type => 'text/template' }
      :plain
        <h3 class='contentTitle'><%= name %></h3>
        <table>
        <tr><td class='detailLabel'>Collection Count:</td><td class='detailValue'><%= collectionCount %></td></tr>
        <tr><td class='detailLabel'>Document Count:</td><td class='detailValue'><%= documentCount %></span></td>
        <tr><td class='detailLabel'>Data Size:</td><td class='detailValue'><%= dataSize %></span></td>
        <tr><td class='detailLabel'>Storage Size:</td><td class='detailValue'><%= storageSize %></span></td>
        <tr><td class='detailLabel'>File Size:</td><td class='detailValue'><%= fileSize %></span></td>
        <tr><td class='detailLabel'>Extent Count:</td><td class='detailValue'><%= numExtents %></span></td>
        <tr><td class='detailLabel'>Index Count:</td><td class='detailValue'><%= indexCount %></span></td>
        <tr><td class='detailLabel'>Index Size:</td><td class='detailValue'><%= indexSize %></span></td>
        </table>
    %script#collectionDetailTemplate{ :type => 'text/template' }
      :plain
        <h3 class='contentTitle'><%= name %></h3>
        <table>
        <tr><td class='detailLabel'>Document Count:</td><td class='detailValue'><%= documentCount %></td></tr>
        <tr><td class='detailLabel'>Size:</td><td class='detailValue'><%= size %></span></td>
        <tr><td class='detailLabel'>Storage Size:</td><td class='detailValue'><%= storageSize %></span></td>
        <tr><td class='detailLabel'>Index Count:</td><td class='detailValue'><%= indexCount %></span></td>
        <tr><td class='detailLabel'>Index Size:</td><td class='detailValue'><%= indexSize %></span></td>
        </table>
    =partial :scripts
  %body
    %div#container
      %div#navigation
        %h3.navigationTitle localhost
        %ul#databaseList
      %div#content Some content goes here...
