!!!
%html
  %head
    %link{ :href => '/css/app.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css' } 
    %script{ :src => '/javascript/jquery.js', :type => 'text/javascript' }
    %script{ :src => '/javascript/underscore.js', :type => 'text/javascript' }
    %script{ :src => '/javascript/backbone.js', :type => 'text/javascript' }
    %script#databaseItemTemplate{ :type => 'text/template' }
      :plain
        <li class='databaseItem' data-id='<%= id %>' data-url='<%= url %>'><%= name %><ul class='childCollection'></ul></li>
    %script#collectionItemTemplate{ :type => 'text/template' }
      :plain
        <li class='collectionItem' data-id='<%= id %>' data-url='<%= url %>'><%= name %></li>
    =partial :scripts
  %body
    %div#container
      %div#navigation
        %ul#databaseList
      %div#content Some content goes here...
