!!!
%html
  %head
    %link{ :href => '/css/app.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css' } 
    %script{ :src => '/javascript/jquery.js', :type => 'text/javascript' }
    %script{ :src => '/javascript/underscore.js', :type => 'text/javascript' }
    %script{ :src => '/javascript/backbone.js', :type => 'text/javascript' }
    %script#databaseItemTemplate{ :type => 'text/template' }
      :plain
        <li class='databaseItem' data-id='<%= id %>' data-url='<%= url %>'><%= name %></li>
    %script#collectionItemTemplate{ :type => 'text/template' }
      :plain
        <li class='collectionItem' data-id='<%= id %>' data-url='<%= url %>'><%= name %></li>
    %script#childCollectionTemplate{ :type => 'text/template' }
      :plain
        <div class='childCollection'></div>
    =partial :scripts
  %body
    %div#container
    %ul#databaseList

