%script{ :src => '/javascript/app.js', :type => 'text/javascript' }
%script{ :src => '/javascript/routers/appRouter.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/appView.js', :type => 'text/javascript' }
