%script{ :src => '/javascript/models/database.js', :type => 'text/javascript' }
%script{ :src => '/javascript/models/collection.js', :type => 'text/javascript' }
%script{ :src => '/javascript/models/document.js', :type => 'text/javascript' }
%script{ :src => '/javascript/collections/databases.js', :type => 'text/javascript' }
%script{ :src => '/javascript/collections/collections.js', :type => 'text/javascript' }
%script{ :src => '/javascript/collections/documents.js', :type => 'text/javascript' }
%script{ :src => '/javascript/routers/appRouter.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/homeView.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/pagingView.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/collectionItemView.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/collectionDetailView.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/collectionsView.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/databaseItemView.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/databaseDetailView.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/documentListView.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/documentView.js', :type => 'text/javascript' }
%script{ :src => '/javascript/views/appView.js', :type => 'text/javascript' }
%script{ :type => 'text/javascript' }
  :plain
    (function() {
      window.databases.reset(#{@databases});
      window.databases.afterLoad();
    })();
%script{ :src => '/javascript/app.js', :type => 'text/javascript' }
