body {
  margin: 0;
  font-family: Trebuchet MS, Calibri, Arial;
}

div#container {
  height: auto;
  min-height: 100%;
}

div#navigation {
  position: absolute;
  width: 30%;
  background: #444 none no-repeat scroll;
  color: #fff;
  min-height: 100%;
  padding: 5px;
}

div#content {
  margin-left: 30%;
  min-height: 100%;
  padding: 5px 15px;
}

ul#databaseList, ul.childCollection {
  list-style-type: none;
  padding: 0px;
  margin-left: 20px;
}

ul#databaseList {
  font-size: 120%;
}

ul.childCollection {
  font-size: 90%;
}

li.databaseItem, li.collectionItem {
  padding: 1px;
}

li.databaseItem span, li.collectionItem span {
  margin-left: 20px;
  padding: 3px;
  cursor: pointer;
}

li.databaseItem span:hover, li.collectionItem span:hover {
  background-color: #222;
}

a.treeIcon {
  position: absolute;
  height: 16px;
  width: 16px;
  background: url('/icons.png') no-repeat 0 0;
}

a.treeIcon:hover {
  background-position: -32px 0;
}

a.expanded {
  background-position: -16px 0;
}

a.expanded:hover {
  background-position: -48px 0;
}

a.viewDocumentLink {
  color: #448;
  cursor: pointer;
}

h3 {
  font-size: 150%;
}

.navigationTitle {
  cursor: pointer;
}

.detailLabel {
  text-align: right;
  padding: 4px 4px 0 0;
  font-style: italic;
  color: #666;
}

.detailValue {
  padding: 4px 0 0 0;
  color: #666;
}
