div#navigation {
  float: left;
  width: 30%;
  background: #444 none no-repeat scroll;
  color: #fff;
  height: 100%;
}

div#content {
  float: right;
  width: 70%;
}

ul#databaseList, ul.childCollection {
  list-style-type: none;
  padding: 0px;
  margin-left: 20px;
}

ul#databaseList {
  font-size: 120%;
}

ul.childCollection {
  font-size: 90%;
}

li.databaseItem {
}
